<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MongoDB.Bson" version="2.10.2" targetFramework="net48" />
  <package id="Simplic.Cloud.Api.Model" version="1.1.0" targetFramework="net48" />
  <package id="Simplic.Cloud.BusinessPartner.Api.Model" version="1.10.0" targetFramework="net48" />
</packages>